body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 2em;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.nav-content{
    font-size: 24px;
    color: #030902;
    line-height: 1.8;
    text-align: center;
    padding: 20px;
    background-color: #a0f6a2;
    border-radius: 10px;    
}

 @keyframes blink{
  0%, 100% {opacity: 1;}
  50% {opacity: 0;}
 } 

#suggestions-content{
  color:blue;
  font-size: 40px;
  text-align: center;
  animation: blink 3s linear infinite;
}

#search-input {
    padding: 0.5em;
    width: 200px;
    border-radius: 5px;
}

#search-form button {
    padding: 0.5em;
    background-color: #ffffff;
    color: #4CAF50;
    border: none;
    cursor: pointer;
}

#search-form button:hover {
    background-color: #45a049;
    color: white;
}

main {
    padding: 2em;
}
.hidden{
    display: none;
}

section {
    margin-bottom: 2em;
}

.displayBookContainer{
   border: 1px solid #ccc; 
   border-radius: 8px;
   background-color: #f9f9f9;
   text-align: center;
   padding: 20px;
   margin-bottom: 8px;
   width: 20em;
}

.suggestionsCard :hover{
    cursor: pointer;
}

#reading-list ul {
    list-style: none;
    padding: 0;
}

#reading-list ul li {
    background-color: white;
    padding: 1em;
    margin-bottom: 1em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}


footer {
    background-color: #45a049;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}