body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #f9f9f9;
    color: #333333;
}

header {
    background-color: lightgray;
    padding: 1em 0;
    text-align: center;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#page-title{
    margin: 0;
    text-align: center;
    flex: 100%;   
    border-radius: 10px;
    background: linear-gradient(hsl(210, 61%, 86%), hsl(216, 74%, 62%));
    /* font-family: cursive; */
}

#nav-links{
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: auto;
}

#nav-links li {
    margin: 10px;
}

#nav a {
    color: rgb(20, 20, 20);
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    color: blue;
}

.burger-menu{
    display: none;
    cursor: pointer;
    font-size: 1.5em;
}

@media (max-width: 768px){
   .burger-menu{
        display: block;
        color: black;
    } 

    #nav-links{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: 20px;
        border-radius: 5px;
        padding: 10px;
    }

     #nav-links li {
        margin: 5px;
    }

    #nav-links.show {
    display: flex;
    }
}

#search-form {
    margin-top: 10px;
    text-align: center;
} 

#search-input {
    padding: 0.5em;
    width: 200px;
    border: 1px solid black;
    border-radius: 5px;
}

#search-form button {
    padding: 0.5em;
    background-color: #ffffff;
    color: black;
    border: none;
    cursor: pointer;
}

#search-form button:hover {
    background-color: lightskyblue;
    border: none;
    border-radius: 5px;
}

main {
    padding: 20px;
    background-color: whitesmoke;
}

.hidden{
    display: none;
}

.nav-content{
  font-size: 24px; 
  text-align: center;
} 

#home{
    background-image: url(images/library\ books.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: #f9f9f9;
}

#about{
    background-image: url(images/read.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: whitesmoke;
}

 @keyframes blink{
  0%, 100% {opacity: 1;}
  50% {opacity: 0;}
 } 

#suggestions-content{
  color:blue;
  font-size: 24px;
  text-align: center;
  animation: blink 3s linear infinite;
}

section {
    margin-bottom: 2em;
}

#loading-indicator{
    color:#45a049;
    font-size: 24px;
    text-align: center;
}
.dot{
    animation: blink 1.5s infinite;
}
.dot:nth-child(1){
    animation-delay: 1s;
}
.dot:nth-child(2){
    animation-delay: 2s;
}
.dot:nth-child(3){
    animation-delay: 3s;
}

.displayBookContainer{
   border: 1px solid #ccc; 
   border-radius: 8px;
   background-color: beige;
   text-align: justify;
   padding: 20px;
   margin-bottom: 8px;
   width: 20em;
}

.suggestionsCard :hover{
    cursor: pointer;
}

#reading-list ul {
    list-style: none;
    padding: 0;
}

#reading-list ul li {
    background-color: white;
    padding: 1em;
    margin-bottom: 1em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: lightgray;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}